@import "components/variables";

body{
  font-family: $monserrat-sans;
}
.bg-grey{
  background-color: $gray-light ;
}
.bg-lab{
  background-color: $laboratoria-color;
}
a{
  color: black;
}
li{
  list-style: none;
}

h3{
  color: #ffffff;
}

//mixins
@mixin flex($display,$direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin make-image($height) {
  height: $height;
}
@mixin  pAbs($position,$bottom,$height,$colortext,$bgcolor,$width){
  position: $position;
  bottom: $bottom;
  height: $height;
  background-color: $bgcolor;
  color: $colortext;
  width: $width;
}
@mixin  AbsHoy($position,$bottom,$height,$colortext,$bgcolor,$width,$left){
  position: $position;
  bottom: $bottom;
  left: $left;
  height: $height;
  background-color: $bgcolor;
  color: $colortext;
  width: $width;
}

//header
.container-fluid>.navbar-collapse{
  margin-top: 17px;
}
.navbar-right {
    margin-right: 30px;
}
.navbar-nav>li {
    margin-right: 10px;
}
.navbar-fixed-top {
  background-color: #fff;
}
//date news
.containerLogo{
  margin-top: 7%;
}

.logoImg{
  margin-left: 25%;
}

//body news

.ul-contain{
  height: 30px;
  vertical-align: sub;
  margin-bottom: 0px;
  li{
    display: inline;
    margin-right: 60px;
    color: #ffffff;
  }
}

.imgContent0{
  @include make-image(290px);
  @media (min-width: 992px) {
        @include make-image(361px);
  }
}
.posRelative{
  position: relative;
}
.pAbs{
  @include pAbs(absolute,50px,120px,$white,none,80%);
  @media (min-width: 992px) {
        @include pAbs(absolute,50px,100px,$white,none,60%);
      }
}
.rowUltimo{
  margin-top: 30px;
}
.contentUltimo{
  @include flex(flex,row,space-around,flex-end);
  @include pAbs(static,50px,60px,$white,$gray-light,100%);
  @media (min-width: 992px) {
        @include pAbs(static,100px,60px,$white,$gray-light,100%);
      }
}

.imgNews1{
  @media (min-width: 992px) {
        @include make-image(263px);
  }
}
.contentUltimo1{
  @include flex(flex,row,space-around,flex-end);
  @include pAbs(static,50px,60px,$white,$gray-light,99.9%);
  @media (min-width: 992px) {
        @include pAbs(static,100px,60px,$white,$gray-light,98.5%);
      }
}
//
.col-content-ultimo{
  margin-top: 15px;
  @include flex(flex,row,space-around,flex-end);
  @media (min-width: 992px) {
    margin-top: 0px;
    display: block;
  }
}
.imgNews2{
    padding-left: 0px;
    padding-right: 0px;
    height: 119px;
    width: 50%;

    @media (min-width: 992px) {
      height: 263px;
      width: 100%;
    }
}
.contentUltimo2{
  @include flex(flex,row,space-around,flex-end);
  @include pAbs(static,119px,119px,$white,$gray-light,50%);
  @media (min-width: 992px) {
    @include pAbs(static,60px,60px,$white,$gray-light,100%);
  }
}
.hoy{
  @include AbsHoy(absolute,45px,30px,$white,$laboratoria-color,50px,100px)
}
//component MUNDO

.contentMundo1{
  @include flex(flex,row,space-around,flex-end);
  @include pAbs(static,50px,60px,$white,$gray-light,99.9%);
  @media (min-width: 992px) {
        @include pAbs(static,100px,60px,$white,$gray-light,99.9%);
      }
}
.imgMundoBig{
  height: 400px;
}
